# Dashboard de Inventario Tecnológico v2.0
# Hospital Regional Alfonso Jaramillo Salazar
# Desarrollado por: Ing. Jose Miguel Santos Naranjo

# Dependencias críticas
streamlit==1.39.0
pandas==2.2.3
plotly==5.24.1
openpyxl==3.1.5

# Dependencias adicionales
xlsxwriter==3.2.0
python-dateutil==2.9.0
